        hr {
			height: 5px;
		}
		a {
			padding: 5px;
			color: white;
			font-size: 24px;
		}
		.footer {
			background-color: #2f5947;
			font-size: 25px;
		}
		p{
			color: #f0ebeb;
			padding: 10px;
			font-size: 23px;
		}
		h1 {
			color: #DDD9D9;
			font-family: 'Roboto Condensed', sans-serif;
			font-size: 60px;
		}
		body {
	height: 100%;
	background-color: #C0C0C0;
	text-shadow: 
		-0   -2px 0   #000000,
		 0   -2px 0   #000000,
		-0    2px 0   #000000,
		 0    2px 0   #000000,
		-2px -0   0   #000000,
		 2px -0   0   #000000,
		-2px  0   0   #000000,
		 2px  0   0   #000000,
		-1px -2px 0   #000000,
		 1px -2px 0   #000000,
		-1px  2px 0   #000000,
		 1px  2px 0   #000000,
		-2px -1px 0   #000000,
		 2px -1px 0   #000000,
		-2px  1px 0   #000000,
		 2px  1px 0   #000000,
		-2px -2px 0   #000000,
		 2px -2px 0   #000000,
		-2px  2px 0   #000000,
		 2px  2px 0   #000000,
		-2px -2px 0   #000000,
		 2px -2px 0   #000000,
		-2px  2px 0   #000000,
		 2px  2px 0   #000000;

		}
	div {
		width: 99%;
		border: solid 5px #808080;
	}
	.b1 {
		background-color: #2f5947;
		height: 100px;
		}
	.main {
		height: 600px;
	}
	